<?xml version="1.0"?>
<config>
	<modules>
		<Adamr_Contact>
			<version>0.1.0</version>
		</Adamr_Contact>
	</modules>
	<frontend>
		<routers>
			<contact>
			<use>standard</use>
				<args>
					<module>Adamr_Contact</module>
					<frontName>contact</frontName>
				</args>
			</contact>
		</routers>
		<layout>
			<updates>
				<contact>
					<file>contact.xml</file>
				</contact>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<contact>
				<class>Adamr_Contact_Helper</class>
			</contact>
		</helpers>
		<blocks>
			<contact>
				<class>Adamr_Contact_Block</class>
			</contact>
		</blocks>
		<models>
			<contact>
				<class>Adamr_Contact_Model</class>
			</contact>
		</models>
		<resources>
			<contact_setup>
				<setup>
					<module>Adamr_Contact</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</contact_setup>
			<contact_write>
				<connection>
					<use>core_write</use>
				</connection>
			</contact_write>
			<contact_read>
				<connection>
					<use>core_read</use>
				</connection>
			</contact_read>
		</resources>
	</global>
</config> 